<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CA685D41D67CA6F00FF4955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CA685E81D67CA7000FF4955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CA685F31D67CA7000FF4955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
